<div class="left-panel">
  <h1>
    Aswin
  </h1>
  <h1>
    Harikumar
  </h1>
</div>
<div class="details-panel top-lg top-sm">
  <h4>Hello there <img src="../assets/images/wave.png" alt="wave" class="emoji-sm  emoji-wave">
  </h4>
  <h4>I am a Front-End Software Engineer curently working at a startup in Bengaluru, India</h4>
  <p>
    This web app development is in pre-alpha stage.
  </p>
  <h4>Get in touch on <a class="text-black"  target="_blank" href="https://www.linkedin.com/in/aswinhere/">LinkedIn</a> , <a
      class="text-black" target="_blank" href="https://github.com/ashwinishere">GitHub</a> and <a class="text-black"
      href="mailto:aswin.harikumar@yahoo.com?Subject=Hello%20Aswin" >aswin.harikumar@yahoo.com</a></h4>
</div>
