<div class="left-panel">
  <h1>
    Aswin
  </h1>
  <h1>
    Harikumar
  </h1>
</div>
<div class="details-panel">
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>   
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>
<p>
  This is the Right Panel with all my Details
</p>

</div>
